.footer__content {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding: 0;
  margin: 67px auto 60px 0;
}

@media (max-width: 767px) {
  .footer__content {
    font-size: 14px;
    line-height: 17px;
    margin: 48px auto 36px 19px;
  }
}
